In [3]:
# types of naive base classifer
# MultinomialNB, BernoulliNB, GaussianNBimport 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [13]:
df.shape

(891, 12)

In [19]:
pf=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
pf.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [ ]:
# so in the above data we have survived column which is target variable so we need to seperate it

In [27]:
input =pf.drop('Survived',axis='columns')
target=pf.Survived

In [29]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [31]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [44]:
dummies = pd.get_dummies(input.Sex)
dummies=dummies.astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [46]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [48]:
input=pd.concat([input,dummies],axis='columns')
input.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [ ]:
input.drop(['Sex'],axis='columns',inplace=True)

In [77]:
input.drop(['male'],axis='columns',inplace=True)
input.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [79]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [85]:
input['Age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [87]:
input.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [89]:
input.Age=input.Age.fillna(input.Age.mean())

In [91]:
input.Age

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [93]:
input.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [99]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input,target,test_size=0.2)

In [101]:
len(X_train)

712

In [107]:
len(X_test)

179

In [109]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [111]:
model.fit(X_train,y_train)

GaussianNB()

In [114]:
model.score(X_test,y_test)

0.7821229050279329

In [116]:
model.score(X_train,y_train)

0.7752808988764045

In [120]:
X_test

     Pclass        Age     Fare  female
354       3  29.699118   7.2250       0
647       1  56.000000  35.5000       0
758       3  34.000000   8.0500       0
783       3  29.699118  23.4500       0
1         1  38.000000  71.2833       1
..      ...        ...      ...     ...
430       1  28.000000  26.5500       0
159       3  29.699118  69.5500       0
295       1  29.699118  27.7208       0
709       3  29.699118  15.2458       0
453       1  49.000000  89.1042       0

[179 rows x 4 columns]

In [132]:
y_test[0:10]

354    0
647    1
758    0
783    0
1      1
801    1
187    1
58     1
590    0
258    1
Name: Survived, dtype: int64

In [136]:
model.predict(X_test[0:10])

array([0, 0, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [138]:
model.predict_proba(X_test[:10])

array([[9.59401703e-01, 4.05982971e-02],
       [7.61717876e-01, 2.38282124e-01],
       [9.61132301e-01, 3.88676986e-02],
       [9.58683079e-01, 4.13169212e-02],
       [3.54686196e-02, 9.64531380e-01],
       [2.37292807e-01, 7.62707193e-01],
       [7.96736180e-01, 2.03263820e-01],
       [1.41974241e-01, 8.58025759e-01],
       [9.61256837e-01, 3.87431634e-02],
       [7.54730050e-38, 1.00000000e+00]])